<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="siteAddress" value="https://healthworksai.analytics-hub.com/"/>
    <add key="TableauIP" value="bit.analytics-hub.com"/>
    <add key="tabUser" value="admin_HW"/>
    <add key="SiteName" value="HealthWorks"/>
    <add key="WhitepaperSiteName" value="HealthWorksAIWhitepapers"/>
    <add key="WhitePaper1" value="Whitepaper1-EMERGENCEOF0PREMIUM/EMERGENCEOF0PREMIUM" />
    <add key="WhitePaper2_2021" value="Whitepaper2-MedicareAdvantageBenefitsCoverage/Whitepaper2" />
    <add key="WhitePaper2" value="Whitepaper2-MedicareAdvantageBenefitsCoverage/Whitepaper2" />
    <add key="WhitePaper2_2020" value="Whitepaper2-MedicareAdvantageBenefitsCoverage2020/Whitepaper2" />
    <add key="WhitePaper3" value="Whitepaper3/Benefitsoverview" />
    <add key="HttpType" value="https"/>
    <add key="inputFilesLocation" value="HealthWorks"/>
    <add key="AccountType" value="Gold"/>
    <add key="DataCubeSiteName" value="TEG"/>
    <add key="fileLocation" value="E:/inetpub/wwwroot/HealthWorks/Logs/Sample_Seri_Log.txt"/>
    <add key="OutputTemplate" value="{NewLine} {Timestamp:HH:mm:ss} [{Level}] ({CorrelationToken}) {Message}{NewLine}{Exception}"/>
    <add key="PythonFile" value="D:/inetpub/wwwroot/BenefitSimulatorPython/DriverCode.py"/>
    <add key="PythonExeFile" value="C:/ProgramData/Microsoft/Windows/Start Menu/Programs/Python 3.7/Python37.exe"/>
    <!--Tableau Path Start-->
    <add key="OpportunityAnalysis" value="OpportunityAnalysis/Medicare360" />
    <add key="CompetitorAnalysis" value="CompetitorAnalysis/CompetitorAnalysis" />
    <add key="MarketSnapshot" value="MarketSnapshot/MarketSnapshot" />
    <add key="ProviderNetworkAnalysis" value="ProviderNetworkAnalysis/ProviderNetworkAnalysis" />
    <add key="ProviderNetworkFacilities" value="ProviderNetworkAnalysis/ProviderNetworkAnalysis" />

    <add key="PlanComparison2021" value="PlanComparison-2020/PlansComparison" />
    <add key="MRXPlanComparison2021" value="PlanMRx/MRxPlanComparison" />
    <add key="WinningPlans" value="WinningPlans/WinningPlans" />
    <add key="ProductInsights" value="ProductInsight/ProductInsight" />
    <add key="PlanComparison2020" value="PlanComparison-2020/PlansComparison" />
    <add key="MRXPlanComparison2020" value="PlanComparison-Downloadable-2020/PlansComparison" />

    <add key="EnrollmentTrends" value="EnrollmentTrends/Prospective-Predictions" />
    <add key="EnrollmentForecastAEP" value="EnrollmentForecastAEP/Prospective-Predictions" />
    <add key="SalesandTerminations" value="SalesTerms/SalesTerms" />
    <add key="YoYEnrollment" value="Retrospectivereport/CompetitorAnalysis" />
    <add key="LOBEnrollments" value="SalesForecastAEP2020/Prospective-Predictions" />

    <add key="MMMSimulator" value="MedicareSimulator/MediaS-curveSimulator" />
    <add key="HospitalCompare" value="HospitalCompare/HospitalCompare" />
    <add key="ProviderScorecard" value="physiciancompare/physiciancompare" />

    <add key="ExecutiveDashboard" value="ExecutiveSummary/KPIDashboard" />
    <add key="MarketingPerformanceOverview" value="ExecutiveDashboard/ExecutiveDashbaord" />
    <add key="IntegratedChannelPerformance" value="ExecutiveSummary/KPIDashboard" />
    <add key="IntegratedFinancialPerformance" value="ExecutiveDashboard/ExecutiveDashbaord" />
    <add key="MMMSimulator" value="MedicareSimulator/MediaS-curveSimulator" />

    <add key="DigitalOverview" value="SitePerformance/SitePerformance" />
    <add key="Digital-HighValueActivity" value="HighValueActivity/Dashboard" />
    <add key="Digital-PathtoPurchase" value="CampaignAnalysis/Dashboard" />

    <add key="EmailPerformance" value="DigitalMarketing/Dashboard" />
    <add key="SocialMediaPerformance" value="CampaignAnalysis/Dashboard" />
    <add key="DirectMailPerformance" value="CampaignAnalysis/Dashboard" />

    <add key="EnrollmentAnalysis" value="EnrollmentAnalysis/ChangeInthememberships" />
    <add key="CompetitorAnalysisPost" value="CompetitorAnalysisPostAEP/Gainsandlosses" />
    <add key="RegionalAnalysis" value="RegionalAnalysis/RegionalAnalysis" />
    <add key="ProductAnalysis" value="ProductAnalysis/BenefitsComparison" />

    <add key="PlanComparisonDownload2021" value="DigitalMarketing/Dashboard" />
    <add key="PlanComparisonDownload2020" value="DigitalMarketing/Dashboard" />
    <add key="UserLogDashboard" value="UserLogDashboard/Dashboard1" />
    <add key="TPVPdf" value="/Documents/HealthWorksAI_TPV_White_Paper.pdf" />
    <add key="2021PostAEPFindingsReport" value="/Documents/2021 Post AEP Findings Report.pdf" />
    <add key="MaximizeMarketingROIPdf" value="/Documents/MarketingMixModellingeBook.pdf" />
    <!--Tableau Path End-->

    <!--<add key="RenewSubscriptionEmail" value="jereme.ayers@healthworksai.com;aditya.kumar@healthworksai.com" />-->
    <add key="RenewSubscriptionEmail" value="roopa.as@healthworksai.com,roopa.as@teganalytics.com" />

  </appSettings>
  <connectionStrings>
    <add name="MyAspNetDB" connectionString="server=sql.analytics-hub.com;database=GatewayHealth;User Id=sa;Password=goteg@123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MyAspNetDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <sessionState timeout="1"></sessionState>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
